extends layout

block content
  .navbar.navbar-static-top.navbar-inverse 
    .navbar-brand #{title}
  
  .container-fluid(ng-controller='stockAll')
    form(method='POST', ng-submit='send()')
      .form-group
        label Syncs in realtime
        input(type='text', placeholder='Enter Stock', ng-model='stock', style="text-transform:uppercase").form-control
      .form-group
        button.btn.btn-primary Add New
    #container
block footnote
  script(type='text/javascript', src='/jquery/jquery.min.js')
  script(src='//code.highcharts.com/highcharts.js')
  script(type='text/javascript', src='/angular/angular.min.js')
  script(type='text/javascript', src='/angular/angular-route.min.js')
  script(type='text/javascript', src='/angular/angular-resource.min.js')
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/javascripts/index.js')