extends layout

block content
  .navbar.navbar-static-top.navbar-inverse 
    .navbar-brand #{title}
  
  .container-fluid
    form(action='', method='POST')
      .form-group
        label Add Stock
        input(type='text', placeholder='Enter Stock / Stocks Separated with a comma(,)').form-control
      .form-group
        button.btn.btn-primary Add New
