doctype html
html(ng-app='stockApp')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='Adegbuyi Ademola Oluwamayowa')
    link(href='https://fonts.googleapis.com/css?family=Raleway:900', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  
  footer
    block footnote

