body{
  font-family:Helvetica, sans-serif;
}
a {
  color: #00B7FF;
}
.navbar-brand{
  color:#fff !important;
  font-family: 'Raleway', sans-serif;;
}
.navbar-inverse{
  background-color: rgb(20, 114, 209) !important;
  border-bottom: 1px solid rgb(20, 114, 209) !important;
}
.btn-primary{
  background-color: rgb(20, 114, 209) !important;
  border: 1px solid rgb(20, 114, 209) !important;
  margin-top:-10px;
  border:none;
}
label small{
  color:rgb(217, 197, 44);
}